<!DOCTYPE html>
<html lang = "es">
<head>
	<meta charset="utf-8">
	<meta name = "description" content = "Triqueando.la">
	<title>Triqueando.la</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="estilos.css" />
	<link rel="stylesheet" type="text/css" href="general.css" />
	<link rel="stylesheet" type="text/css" href="agregarProfesor.css">
	<script src="http://code.jquery.com/jquery-latest.min.js"></script>
	<script src="prefixfree.js">

	</script>
</head>
<body>
	<!-- Constante -->
	<header class = "cabecera">
		<figure class = "cabecera-Logo">
			<img class = "logo-Imagen" onclick = "True" src="Logo.png">
		</figure>
		<form class = "cabecera-Buscador">
			<ul>
				<li><input type="text" id="busqueda" placeholder="Buscar"></li>
				<li><input type="submit" value="Buscar" id="botonBuscar"></li>
			</ul>
		</form>
		<div class = "cabecera-Botones">
			<button id="botones-Login"><a href = "#">Login</a></button>
			<button id="botones-Agregar"><a href = "agregarProfesor.html">Agregar profesor</a></button>
			<button id="botones-Agregar2"><a href = "agregarCurso.html">Agregar curso</a></button>
		</div>
	</header>
	<nav class = "navegador">
		<ul class = "navegador-Lista">
			<li><a href = "home.html"><strong>Inicio</strong></a></li>
			<li><a href = "busqueda.html"><strong>Búsqueda avanzada</strong></a></li>
			<li><a href = "profesores.html"><strong>Profesores</strong></a></li>
		</ul>
	</nav>
	<!-- variable -->
	<section class = "seccion">
		<h2>Solicitud para agregar profesor</h2>
		<form class = "seccion-Formulario">
			<label for="nombre">Profesor:</label>
			<input type="text" id= "solicitud-Profesor" placeholder="Ej. Nombre Apellido" required>
			<br>
			<br>
			<label for="curso">Curso:</label>
			<input type="text" id= "solicitud-Curso" placeholder="Ej. Curso">
			<label for="opcional">(Opcional)</label>
			<br>
			<br>
			<label for="confirmar">¿Está usted seguro?</label>
			<input type="submit" value="Enviar" id="botonSubmit">
		</form>
	</section>
</body>
</html>