<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>	Login </title>
	</head>
	<body>
		<div id="nav_top_right">
			{% if user.is_authenticated %}<p><a href="/logout/">Logout</a></p>{% else %}<p><a href="/login/">Login</a></p>{% endif %}
		</div>
		<div id="pageContainer">
			<form action="" method="post">
				{% csrf_token %}
				{% if form.errors %}<p>Please correct the following fields:</p>{% endif %}

				<div class="register_div">
					{% if form.username.errors %}<p class="error">{{ form.username.errors }}</p>{% endif %}
					<p><label for="username"{% if form.username.errors %} class="error" {% endif %}>Username:</label></p>
					<p>{{ form.username }}</p>
				</div>

				<div class="register_div">
					{% if form.password.errors %}<p class="error">{{ form.password.errors}}</p>{% endif %}
					<p><label for="password"{% if form.password.errors %} class="error" {% endif %}>Password:</label></p>
					<p>{{ form.password }}</p>
				</div>

				<p><input type="submit" alt="register" /></p>
			</form>
		</div>
	</body>
</html>



