[Desktop Entry]
Encoding=UTF-8
Name=Enlace hacia Propiedad overflow (Referencia de CSS 2.1)
Type=Link
URL=http://librosweb.es/referencia/css/overflow.html
Icon=text-html
