.seccion{
	background: #E6E6FA;
	border-radius: 10px;
	box-shadow: rgba(0,0,0,0.5) 5px 5px 20px;
	margin: 2em 5em 2em 5em;
	overflow: hidden;
}

.seccion h2{
	background: #54738F;
	color: white;
	padding: 1em 1em 1em 1em;
	margin: 0em;
	text-transform: uppercase;
}

.seccion-Formulario{
	margin: 2em 0 2em 2em;
}

#solicitud-Curso{
	margin-left: 3em;
}

#botonSubmit{
	border-radius: 5px;
	padding: 4px;
	margin: 2em 0 0 2.3em;
}

#botonSubmit:hover{
	opacity: 0.9;
}